# --- DATASETS ---
# Food-101 dataset (ignore everything inside data/)
**/data/
**/data/**

# --- CACHE & COMPILATION ---
__pycache__/
*.pyc

# --- MODEL CHECKPOINTS ---
**/models/
**/models/**

# --- TRAINING RUNS ---
**/runs/
**/runs/**

# --- GENERATED IMAGES / PLOTS ---
**/images/
**/images/**

# --- WEIGHTS ---
*.pth
