# Ignore Food101 dataset images
Deep Learning/PyTorch/Classification/Computer vision/data/

__pycache__/
*.pyc


Deep Learning/PyTorch/Classification/Computer vision/models/
Deep Learning/PyTorch/Classification/Computer vision/runs/
Deep Learning/PyTorch/Classification/Computer vision/images/