# Ignore Food101 dataset images
Deep Learning/PyTorch/Classification/Computer vision/data/food_101/food-101/train/
Deep Learning/PyTorch/Classification/Computer vision/data/food_101/food-101/test/

__pycache__/
*.pyc
